body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u4 {
  position:absolute;
  left:146px;
  top:178px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFCC66;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u6 {
  position:absolute;
  left:146px;
  top:264px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FF6600;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u8 {
  position:absolute;
  left:146px;
  top:349px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFF00;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u10 {
  position:absolute;
  left:146px;
  top:435px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#66FF00;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u12 {
  position:absolute;
  left:146px;
  top:520px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#009900;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u14 {
  position:absolute;
  left:146px;
  top:606px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#0000FF;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u16 {
  position:absolute;
  left:146px;
  top:691px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#6600FF;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
